{#
/**
 * @file
 * Template for MJM Image Gallery component.
 *
 * Variables:
 * - gallery_id: Unique ID for this gallery instance
 * - images: Array of image data
 * - config: Gallery configuration
 */
#}

<div class="mjm-image-gallery" id="{{ gallery_id }}">
  <div class="mjm-image-gallery__container">
    {% if config.gallery_title %}
      <h3 class="mjm-image-gallery__title">{{ config.gallery_title }}</h3>
    {% endif %}
    
    {# Loading indicator #}
    <div class="mjm-image-gallery__loading">
      <div class="mjm-image-gallery__spinner"></div>
      <p>Loading gallery...</p>
    </div>

    {# Main viewer area #}
    <div class="mjm-image-gallery__viewer" id="{{ gallery_id }}-viewer"></div>

    {# Controls #}
    <div class="mjm-image-gallery__controls">
      <div class="mjm-image-gallery__nav">
        <button class="mjm-image-gallery__btn mjm-image-gallery__btn--prev" title="Previous image">
          <i class="fas fa-chevron-left"></i>
        </button>
        <button class="mjm-image-gallery__btn mjm-image-gallery__btn--next" title="Next image">
          <i class="fas fa-chevron-right"></i>
        </button>
      </div>

      {% if config.enable_zoom %}
        <div class="mjm-image-gallery__zoom">
          <button class="mjm-image-gallery__btn mjm-image-gallery__btn--zoom-in" title="Zoom in">
            <i class="fas fa-search-plus"></i>
          </button>
          <button class="mjm-image-gallery__btn mjm-image-gallery__btn--zoom-out" title="Zoom out">
            <i class="fas fa-search-minus"></i>
          </button>
          <button class="mjm-image-gallery__btn mjm-image-gallery__btn--reset" title="Reset zoom">
            <i class="fas fa-expand-arrows-alt"></i>
          </button>
        </div>
      {% endif %}

      <div class="mjm-image-gallery__actions">
        {% if config.auto_play %}
          <button class="mjm-image-gallery__btn mjm-image-gallery__btn--play" title="Play/Pause slideshow">
            <i class="fas fa-play"></i>
          </button>
        {% endif %}
        <button class="mjm-image-gallery__btn mjm-image-gallery__btn--fullscreen" title="Open in new tab">
          <i class="fas fa-external-link-alt"></i>
        </button>
      </div>
    </div>

    {# Image counter #}
    <div class="mjm-image-gallery__counter">
      <span class="mjm-image-gallery__current">1</span> / <span class="mjm-image-gallery__total">{{ images|length }}</span>
    </div>

    {# Thumbnails #}
    {% if config.show_thumbnails and images|length > 1 %}
      <div class="mjm-image-gallery__thumbnails">
        {% for image in images %}
          <button class="mjm-image-gallery__thumbnail{% if loop.first %} active{% endif %}" 
                  data-image="{{ loop.index0 }}" 
                  title="{{ image.title }}">
            <img src="{{ image.url }}" alt="{{ image.title }}" loading="lazy">
            {% if image.title %}
              <span class="mjm-image-gallery__thumbnail-title">{{ image.title }}</span>
            {% endif %}
          </button>
        {% endfor %}
      </div>
    {% endif %}

    {# Image info panel #}
    <div class="mjm-image-gallery__info-panel">
      <button class="mjm-image-gallery__info-close">&times;</button>
      <div class="mjm-image-gallery__info-content">
        <h4 class="mjm-image-gallery__info-title"></h4>
        <p class="mjm-image-gallery__info-description"></p>
      </div>
    </div>
  </div>
</div>
